.barContainer {
  width: 90%;
  height: 0.7rem;
  background-color: gray;
  padding: 0.2rem;
}

.spectrumBar {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.section {
  border-left: 1.5px solid rgb(72, 71, 71);
  border-right: 1.5px solid rgb(72, 71, 71);
  height: 98%;
}

.indicator {
  position: absolute;
  top: -15px;
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-top: 0.625rem solid rgb(72, 71, 71); /* color del triángulo */
}
