.modalContainer {
  background: grey;
  width: 65dvw;
  height: 75dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.modalHeader {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalContent {
  height: 95%;
  background: white;
  width: 100%;
}

.infoHoverContainer {
  background-color: rgb(184, 179, 179);
  height: fit-content;
  width: fit-content;
  position: absolute;
  padding: 0.8rem;
}

.infoHoverContainer p {
  margin: 0;
  padding: 0.3rem;
}

.comunaInfo p {
  margin: 0;
}

.comunaInfo ul {
  margin: 0;
}
