.mainContainer {
  background-color: rgba(0, 70, 100, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 96%;
  width: 99%;
}

.timeContainer {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  width: 15dvw;
  height: fit-content;
  padding: 0.5rem;
}
