.background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initContainer {
  background-color: gray;
  z-index: 6;
  width: 25%;
  height: 50%;
}
