.background {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initContainer {
  background-color: gray;
  z-index: 6;
  width: 75%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initContainer h2 {
  font-size: 2.5rem;
}

.initContainer ul {
  list-style-type: none;
  background-color: red;
  width: 90%;
  height: 60%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}
.initContainer li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initContainer span {
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

/*NUEVOS ESTILOS*/
.initGame {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  color: #fff;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
}
.content {
  width: 100%;
  height: 70%;
  display: flex;
  flex: 1;
  background-color: rgb(161, 161, 161);
}
.partyList {
  flex: 1;
  overflow: hidden;
}
.partyDescription {
  background-color: purple;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
}

.header h2 {
  font-size: 3rem;
}

.footer button {
  font-size: 1.8rem;
  cursor: pointer;
}

.footer button:disabled {
  cursor: default;
}

.footer p {
  position: fixed;
  color: red;
  bottom: 0.5rem;
}

.partyList h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 0;
  background-color: rgb(128, 126, 126);
}

.partyList ul {
  height: 90%;
  list-style-type: none;
  padding: 0 2rem;
  margin: 0;
  overflow-y: scroll;
}

.li {
  border: #fff solid 2px;
  border-radius: 1rem;
  margin: 0.8rem 0;
  padding: 1rem;
  cursor: pointer;
}

.li:hover {
  background-color: rgb(148, 147, 147);
}

.liSelected {
  background-color: #fff;
  color: rgb(148, 147, 147);
  border-radius: 1rem;
  margin: 0.8rem 0;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.partyList span {
  font-size: 1.4rem;
}
