.partyBar {
  background-color: gray;
  width: 10%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
}

.imgParty {
  width: 95%;
  aspect-ratio: 1/1;
  background-color: ghostwhite;
  margin: 0.3rem;
}

.logo {
  width: 100%;
}

.nameParty {
  margin: 0;
  padding: 1rem;
  font-weight: bold;
}

.partyMenu {
  background-color: rgb(216, 213, 213);
  width: 40dvw;
  height: 70dvh;
  display: flex;
  flex-direction: column;
}

.ideologyDisplay {
  width: 50%;
  height: 50%;
  background-color: rgb(160, 157, 157);
}

.ideologySection {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.ideologySection p {
  margin: 2%;
  margin-bottom: 6%;
  font-weight: bold;
}
